@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  background-image: url("../public/brandon-stars.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  min-height: 100dvh;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  flex-direction: column;
}
